# General
.env
*.bin
__pycache__
*.pyc
*.pyo
*.pyd
temp/*
*.out

# Virtual Environment
venv-execproj/
venv/
.env/

# Source Programs
libzip/
grep-3.11/
nginx-1.24.0/

# Misc
perf.data
perf.data.old
*.angr

# build and binary files
build/
dist/
*.egg-info/
*.so